{% extends 'base.html' %}

{% block title %}Home{% endblock title %}


{% block content %}

{% if user.is_authenticated %}

    Hi {{ user.username }}
    <p>
        <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Log out</button>
        </form>
    </p>

{% else %}

    <p>You are not logged in</p>
    <a href="{% url 'login' %}" class="btn btn-info">Log In</a> |
    <a href="{% url 'signup' %}" class="btn btn-info">Sign Up</a>

{% endif %}

{% endblock content %}0